h1 {
  margin-top: 0;
  margin-bottom: 0
}

h2 {
  margin-top: 0;
  margin-bottom: 0
}

div.wt_modified {
  background: #cfc;
}

div.wt_error {
  background: #faa;
}

div.wt_add_ticket_block {
  background: #ddd;
  border: 1px solid black;
}

#time_input_table thead,
#time_input_table tfoot {
  position: sticky;
  background: #FAFAFA;
}
#time_input_table thead {
  top: 0;
}
#time_input_table thead th {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
#time_input_table tfoot {
  bottom: 0;
}
#time_input_table tfoot tr:first-child td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
#time_input_table thead {
  /* Space from the top of the page. We have to move the header below the main menu which is always on top. */
  inset-block-start: 31px;
}
#time_input_table tfoot {
  inset-block-end: 0;
}
#time_input_table thead input {
  width: auto;
}
#time_input_table {
  border-spacing: 0;
}
#time_input_table tfoot input[type=button] {
  background-color: greenyellow;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  height: auto;
  width: auto;
}

/*
 * We have to enable overflows, otherwise the sticky header/footer will not work.
 * Luckily, on the WorkTime page there is no need for overflow: auto/scroll.
 */
div#wrapper {
  overflow: visible;
}

div#content {
  overflow: visible;
}