<%#**************************************************** User selector %>
<%=l(:wt_select_user)%>
<select onchange="if (this.value != '') {window.location = this.value;}">
  <option value="">---</option>
<%
members_name_id = Array.new
@members.each do |mem|
  if mem[1].active?
    members_name_id << [mem[1].to_s, mem[1].id]
  end
end
members_name_id.sort_by! { |member_name_id| member_name_id[0].unicode_normalize(:nfd) }
members_name_id.each do |member_name_id|
  sel = (member_name_id[1] == @this_uid) ? 'selected' : ''
%>
  <option value="<%= url_for(link_params.merge(:user=>member_name_id[1]));%>" <%=sel%>>
    <%=member_name_id[0]%>
  </option>
<%
end
%>
</select>
